<div class="assistant-container">
    <div class="row">
      <div class="assistant-picture column left">
        <img [src]="assistantPicturePath" alt="Assistant Picture">
      </div>
      <div class="selected-hint-container column right" *ngIf="selectedHint">
        <div class="selected-hint">
         {{ selectedHint.text }}
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="random-hint">
        Don't forget to take a break from studying every 45 minutes!
      </div>
      <div class="hints-container">
        <div *ngFor="let hint of hints" class="hint">
          <div (click)="showHint(hint)" class="hint-icon" [ngClass]="{'validation' : hint.type === 'VALIDATION' || hint.type === 'ERROR', 'structure': hint.type === 'STRUCTURE', 'complexity': hint.type === 'COMPLEXITY'}">
            <i class="fa" [ngClass]="{'fa-exclamation': hint.type === 'VALIDATION' || hint.type === 'ERROR', 'fa-question': hint.type === 'STRUCTURE', 'fa-hourglass': hint.type === 'COMPLEXITY'}"></i>
          </div>
          <div class="hint-text-container">
            Submission {{ hint.submission }}
          </div>
        </div>
        
      </div>
    </div>
  </div>
  