/* your-assistant.component.css */

.assistant-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
}

.assistant-picture img {
  width: auto; /* Adjust size as needed */
  height: 40vh; /* Adjust size as needed */
}

.selected-hint-container {
  width: 20vw; /* Set a fixed width */
  height: 40vh; /* Set a fixed height */
  margin-bottom: 10px; /* Adjust as needed for spacing between selected hint and hint icons list */
  background-color: var(--dark-background-color);
  border-radius: 5px;
  overflow: hidden; 
}

.selected-hint {
   /* Background color for the selected hint */
  padding: 10px;
  /* Ensure text overflow is hidden */
}

.hints-container {
  width: 75%;
  max-height: 150px; /* Set a max height to make it scrollable */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color:var(--dark-background-color)  transparent ;
  padding-right: 10px;
 }

.hints-container::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.hints-container::-webkit-scrollbar-thumb {
  background-color: var(--dark-background-color); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Optional: Add rounded corners to the scrollbar thumb */
}

.hints-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

.hint-icon {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: var(--dark-background-color); /* Background color of the icon container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.hint-icon.validation i {
  color: var(--jb-blue); /* Color of the icon */
}

.hint-icon.structure i {
  color: var(--jb-pink); /* Color of the icon */
}

.hint-icon.complexity i {
  color: var(--jb-orange); /* Color of the icon */
}

.hint {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hint-text-container {
  width: 50%;
  /* height: 40vh; Set a fixed height */
  margin: 10px; /* Adjust as needed for spacing between selected hint and hint icons list */
  background-color: var(--dark-background-color);
  border-radius: 5px;
  padding: 10px;
  /* overflow: hidden;  */
}

.hint.active .hint-text-container {
  display: block; /* Display the hint text when the hint is active */
}
