<div class="container">
    <div class="column left">
        <div class="assignment-container">
            <h1>{{task.title}}</h1>
            <hr>
            <div class="box assignment-text-box">
              <p>
                {{task.text}}
              </p>
            </div>
            <div class="box code-box">
              <app-code [taskId]="taskId"></app-code>
            </div>
          </div>
    </div>
    <div class="column right">
      <app-assistant></app-assistant>
    </div>
  </div>
