<div class="container">
    <div class="column left">
        <div class="assignment-container">
            <h1>Big Assignment Title</h1>
            <hr>
            <div class="box assignment-text-box">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
                Sed nisi.
              </p>
            </div>
            <div class="box code-box">
              <app-code></app-code>
            </div>
          </div>
    </div>
    <div class="column right">
      <app-assistant></app-assistant>
    </div>
  </div>
