<div class="home-container">
    <div class="task-list">
      <div class="box task-box" *ngFor="let task of tasks" (click)="navigateToAssignment(task)">
        <p>{{ task.idT }} {{task.name}}</p>
      </div>
    </div>
    <div class="right-space">
      <div class="overlap-images">
        <img class="image1" src="/assets/veles.png" alt="Image 1">
        <img class="image2" src="/assets/vesna.png" alt="Image 2">
        <img class="image3" src="/assets/vid.png" alt="Image 3">
      </div>
      <div class="weaknesses">
        <h5>Weakness</h5>
        <hr>
        <p>Data structures. Tip: Read the book Algorithms and Data Structures by Milo Tomasevic!</p>
      </div>
    </div>
  </div>