<div class="code-container">
    <label for="language">Select Language:</label>
    <select id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
      <option value="javascript">JavaScript</option>
      <option value="typescript">TypeScript</option>
      <option value="python">Python</option>
    </select>

    <div>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" [language]="selectedLanguage" #editor></ngx-monaco-editor>
    </div>

    <button class="submit-button">Submit</button>
  </div>