select {
    background-color: #1e1e1e; /* Dark background color */
    color: #d4d4d4; /* Light text color */
    padding: 8px;
    border: 1px solid #424242; /* Border color */
    border-radius: 4px;
    outline: none; /* Remove the default blue outline on focus */
    cursor: pointer;
  }
  
  select:hover {
    background-color: #333333; /* Darker background color on hover */
  }
  
  option {
    background-color: #1e1e1e; /* Dark background color for options */
    color: #d4d4d4; /* Light text color for options */
  }
  
  option:hover {
    background-color: #333333; /* Darker background color for options on hover */
  }

  .submit-button {
    background-color: #4caf50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: none; /* Remove border */
    border-radius: 5px; /* Add a slight border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect on hover */
  }
  
  .submit-button:hover {
    background-color: #45a049; /* Darker green background color on hover */
  }